img {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

.slick-slide {
    overflow: hidden;
}

.carousel-container {
    width: 584px;
    height: 370px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    /* border: 5px solid black; */
}

.slick-track {
    width: 6000px;
    display: flex;
    transition: 0.1s;
    transform: translateX(-584px);
}

.slick-dots {
    position: absolute;
    bottom: 0;
    display: flex;
    margin: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slick-dots li {
    margin: 0px 7px;
}

.slick-dots button {
    border: none;
    border-radius: 50%;
    background: #c3a7a7;
    color: #c3a7a7;
    width: 15px;
    height: 15px;
    cursor: pointer;
    outline: none;
    font-size: 0px;
    transition: 0.25s;
}

.slick-arrow {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background: #ffecec;
    top: 45%;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    color: #211616;
    z-index: 20;
}

.slick-next {
    right: 7px;
}

.slick-prev {
    left: 7px;
}

.slick-active button {
    background: red;
}