.faqs_mz_1_0_0 {
    list-style: none;
    padding: 0;
    margin: 0;

    &__item {
        margin-bottom: 24px;
    }

    &__topic {
        font-size: 21px;
        font-weight: 600;
        margin-top:20px;
    }

    &__question {
        font-size: 1.1rem;
        font-weight: 600;
        color: var(--primary-color);
        margin-bottom: 8px;
    }

    &__answer {
        font-size: 1rem;
        color: #555;
        line-height: 1.6;
        margin: 0;
    }
}