@font-face {
    font-family: 'fontello';
    src: url(https://huudinh.github.io/assets/fonts/fontello.woff2) format("woff2");
}

:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --white-color: #fff;
    --basic-color: #f0f0f0;
    --primary-color: #006631;
    --info-color: #5bc0de;
}

// Read #d9534f
body {
    padding-top: 85px;

    @media (max-width: 600px) {
        padding-top: 85px;
    }
}

.newsMain {
    display: flex;
    gap: 30px;
    width: 100%;

    &__boxLeft {
        width: 70%;
    }

    &__boxRight {
        width: 30%;
    }

    @media (max-width: 600px) {
        flex-direction: column;
        gap: 10px;

        &__boxLeft {
            width: 100%;
        }

        &__boxRight {
            width: 100%;
        }
    }
}

.aligncenter {
    margin: 20px auto;
    text-align: center;
    display: block;
    max-width: 100%;
    height: auto
}

blockquote {
    border: 3px dashed #25c757eb;
    background: #fff;
    margin: 0 auto 10px;
    padding: 0 20px;
    max-width: 80%
}